<h1>Itunes top 100 albums</h1>

<%# <%= form_tag root_path, method: :get do %>
  <%# <%= text_field_tag :query,
    class: "form-control",
    placeholder: "Find a movie"
  %>
  <%# <%= submit_tag "Search", class: "btn btn-primary" %>
<%# <% end %>


<div class="flex-container">

  <% @albums.each do |album| %>

  <div class="card-product">
    <%= image_tag album["im:image"][0]["label"] %>
    <div class="card-product-infos">
      <h5><strong><%= album["im:name"]["label"] %></strong></h5>
      <p><%= album["im:artist"]["label"] %></p>
      <p><%= album["category"]["attributes"]["term"] %></p>
    </div>
  </div>

  <% end %>
</div>
